@charset "UTF-8";
html * {
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  background: transparent;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  color: inherit;
  box-shadow: none;
}

html {
  font-size: 10px;
}

html body {
  font-size: 0;
  line-height: 0;
}
html body a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  html body {
    width: 100%;
    min-width: 100%;
  }
}
.i_gallery_v2 {
  position: relative;
  width: 100%;
  font-size: 0;
}
.i_gallery_v2 .mainarea {
  position: relative;
  width: 100%;
  padding-top: 66.6667%;
  background-image: radial-gradient(#333, #111);
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  .i_gallery_v2 .mainarea:after {
    content: "";
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    bottom: 16px;
    width: 54px;
    height: 28px;
    margin: auto;
    background: url(https://static.gazeta.ru/nm2021/img/icons/ui/swipe.svg) no-repeat 50% 50%;
    background-size: cover;
    opacity: 1;
    transition: all 0.3s ease;
  }
}
.i_gallery_v2 .mainarea-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}
.i_gallery_v2 .mainarea-wrapper .item {
  display: inline-flex;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background: url(https://static.gazeta.ru/nm2015/i/__svg/loader.svg) no-repeat 50% 50%;
  background-size: 40px;
}
.i_gallery_v2 .mainarea-wrapper .item-image {
  display: inline-block;
  height: 100%;
}
.i_gallery_v2 .mainarea-wrapper .item-image[src=""] {
  display: none;
}
.i_gallery_v2 .mainarea-wrapper .b_photoreports_digest {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(#333, #111);
  background-size: cover;
}
.i_gallery_v2 .mainarea-wrapper .b_photoreports_digest:before {
  content: "";
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 20px;
  width: 110px;
  height: 14px;
  opacity: 1;
  background: url(https://static.gazeta.ru/nm2021/img/logo_2021_wh.svg) no-repeat 50% 50%;
  background-size: auto 100%;
  transition: opacity 0.3s ease 0.3s;
}
.i_gallery_v2 .mainarea-wrapper .b_photoreports_digest-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}
.i_gallery_v2 .mainarea-wrapper .b_photoreports_digest .show_all {
  position: relative;
  z-index: 2;
  padding: 0 20px 0 60px;
  display: block;
  font: bold 14px/38px "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: #B11116;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.i_gallery_v2 .mainarea-wrapper .b_photoreports_digest .show_all:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 14px;
  bottom: 4px;
  width: 28px;
  height: 24px;
  margin: auto;
  background: url(https://static.gazeta.ru/nm2021/img/camera_icon.svg) no-repeat 50% 0;
  background-size: auto 100%;
}
.i_gallery_v2 .mainarea-wrapper .b_photoreports_digest-digest {
  position: relative;
  text-align: center;
}
.i_gallery_v2 .mainarea-wrapper .b_photoreports_digest-digest-item {
  position: relative;
  width: 240px;
  margin: 20px 30px;
  display: inline-block;
  vertical-align: top;
}
.i_gallery_v2 .mainarea-wrapper .b_photoreports_digest-digest-item .image {
  position: relative;
  display: block;
  width: 100%;
  height: 160px;
  overflow: hidden;
}
.i_gallery_v2 .mainarea-wrapper .b_photoreports_digest-digest-item .image:before {
  content: "";
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 28px;
  height: 24px;
  margin: auto;
  background: url(https://static.gazeta.ru/nm2015/i/__svg/camera_2020.svg) no-repeat 50% 0;
}
.i_gallery_v2 .mainarea-wrapper .b_photoreports_digest-digest-item .image img {
  display: block;
  width: 100%;
  transform: scale(1, 1);
  transition: all 0.9s ease;
}
.i_gallery_v2 .mainarea-wrapper .b_photoreports_digest-digest-item .caption {
  position: relative;
  display: block;
  padding: 10px 0 0;
  font: 700 16px/1.2 "Lora", serif;
  color: #fff;
  white-space: normal;
  background: linear-gradient(360deg, #292929 0%, rgba(41, 41, 41, 0.8) 30%, transparent);
}
.i_gallery_v2 .mainarea-wrapper .b_photoreports_digest-digest-item:hover .image img {
  transform: scale(1.05, 1.05);
}
.i_gallery_v2 .mainarea-wrapper .b_gotoreport {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: rgba(41, 41, 41, 0.9);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease;
}
.i_gallery_v2 .mainarea-wrapper .b_gotoreport.active {
  opacity: 1;
  left: 0;
}
.i_gallery_v2 .mainarea-wrapper .b_gotoreport .title {
  position: relative;
  padding-top: 50px;
  text-align: center;
  width: 360px;
  font: normal 18px/1.5 "Roboto", sans-serif;
  color: #fff;
  margin-bottom: 20px;
}
.i_gallery_v2 .mainarea-wrapper .b_gotoreport .title:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 28px;
  height: 24px;
  margin: auto;
  background: url(https://static.gazeta.ru/nm2015/i/__svg/camera_2020.svg) no-repeat 50% 0;
}
.i_gallery_v2 .mainarea-wrapper .b_gotoreport .btn {
  display: inline-flex;
  padding: 10px 20px;
  background: #B11116;
  border-radius: 2px;
  font: bold 14px/14px "Roboto", sans-serif;
  color: #fff;
}
.i_gallery_v2 .mainarea .leftbtn, .i_gallery_v2 .mainarea .rightbtn {
  position: absolute;
  z-index: 20;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
  background: #292929;
  transform: scale(1, 1);
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .i_gallery_v2 .mainarea .leftbtn, .i_gallery_v2 .mainarea .rightbtn {
    display: none;
  }
}
.i_gallery_v2 .mainarea .leftbtn:before, .i_gallery_v2 .mainarea .rightbtn:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80px;
  opacity: 1;
  background: url(https://static.gazeta.ru/nm2021/img/icons/ui/_ui_arrow_2x.svg) no-repeat 50% 50%;
}
.i_gallery_v2 .mainarea .leftbtn span, .i_gallery_v2 .mainarea .rightbtn span {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  width: 80px;
  right: 0;
  opacity: 0;
  background: url(https://static.gazeta.ru/nm2021/img/icons/ui/_ui_arrow_2x.svg) no-repeat 50% 50%;
  transition: right 0.6s ease;
  background-size: cover;
}
.i_gallery_v2 .mainarea .leftbtn:not(.disable):hover:before, .i_gallery_v2 .mainarea .rightbtn:not(.disable):hover:before {
  opacity: 0;
}
.i_gallery_v2 .mainarea .leftbtn:not(.disable):hover span, .i_gallery_v2 .mainarea .rightbtn:not(.disable):hover span {
  opacity: 1;
  right: -40px;
}
.i_gallery_v2 .mainarea .leftbtn {
  transform: scale(-1, 1);
  left: 10px;
}
.i_gallery_v2 .mainarea .leftbtn.disable {
  opacity: 0.2;
  cursor: default;
}
.i_gallery_v2 .mainarea .rightbtn {
  right: 10px;
}
.i_gallery_v2 .mainarea .rightbtn.disable {
  opacity: 0.2;
  cursor: default;
}
.i_gallery_v2 .mainarea .zoombtn {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}
.i_gallery_v2 .mainarea .zoombtn:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(41, 41, 41, 0.3);
  transition: all 0.3s ease;
}
.i_gallery_v2 .mainarea .zoombtn:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 31px;
  right: 20px;
  width: 20px;
  height: 18px;
  margin: auto;
  background: url(https://static.gazeta.ru//nm2021//img/pinch_zoom.svg) no-repeat 50% 50%;
  background-size: auto 100%;
  transform: scale(0.8, 0.8);
  transition: all 0.5s ease;
}
.i_gallery_v2 .mainarea .zoombtn:hover:after {
  transform: scale(1.1, 1.1);
}
.i_gallery_v2 .mainarea .zoombtn.hide {
  opacity: 0;
  z-index: -1;
}
.i_gallery_v2 .infoblock {
  position: relative;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 1023px) {
  .i_gallery_v2 .infoblock {
    padding: 10px 20px;
  }
}
.i_gallery_v2 .infoblock .signplace {
  position: relative;
  font: normal 13px/1.5 "Roboto", sans-serif;
  color: #292929;
  opacity: 1;
  transition: all 0.3s ease;
}
.i_gallery_v2 .infoblock .signplace p, .i_gallery_v2 .infoblock .signplace i {
  font: normal 13px/1.5 "Roboto", sans-serif;
  display: inline;
}
.i_gallery_v2 .infoblock .signplace p {
  color: #292929;
  margin-right: 10px;
}
.i_gallery_v2 .infoblock .signplace i {
  position: relative;
  display: block;
  color: #7F7F7F;
}
.i_gallery_v2 .infoblock .signplace i:before {
  content: "©";
  display: inline-block;
  margin-right: 5px;
}
.i_gallery_v2 .infoblock .quantity {
  display: inline-flex;
  margin-left: 50px;
  font: bold 13px/1.5 "Roboto", sans-serif;
  color: #292929;
  text-align: right;
  white-space: nowrap;
}
.i_gallery_v2 .infoblock .quantity-num {
  display: inline-block;
}
.i_gallery_v2 .infoblock .quantity-num:after {
  content: "/";
  display: inline-block;
}
.i_gallery_v2 .infoblock.hide {
  opacity: 0;
}
.i_gallery_v2 .preview {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40px;
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  .i_gallery_v2 .preview {
    display: none;
  }
}
.i_gallery_v2 .preview-wrapper {
  position: relative;
  width: 100%;
  height: 60px;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.i_gallery_v2 .preview-wrapper .item {
  position: relative;
  z-index: 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 60px;
  height: 40px;
  margin-left: 2px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #333;
  flex-shrink: 0;
}
.i_gallery_v2 .preview-wrapper .item:first-child {
  margin-left: 0;
}
.i_gallery_v2 .preview-wrapper .item-image {
  position: relative;
  z-index: 1;
  display: inline-flex;
  height: 100%;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.i_gallery_v2 .preview-wrapper .item:hover .item-image {
  opacity: 1;
}
.i_gallery_v2 .preview-wrapper .item:before {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(177, 17, 22, 0.7);
  opacity: 0;
  transition: all 0.3s ease;
}
.i_gallery_v2 .preview-wrapper .item:after {
  content: "";
  position: absolute;
  z-index: 4;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 7px;
  margin: auto;
  background: url(https://static.gazeta.ru//nm2021//img/triangle_rounded.svg) no-repeat 50% 50%;
  background-size: auto 100%;
  opacity: 0;
  transition: all 0.3s ease;
}
.i_gallery_v2 .preview-wrapper .item.active:before {
  opacity: 1;
}
.i_gallery_v2 .preview-wrapper .item.active:after {
  top: 0;
  opacity: 1;
}
.i_gallery_v2 .preview-wrapper .item.disabled {
  opacity: 0.3;
}
.i_gallery_v2.m_fullscreen .zoombtn {
  display: none;
}
.i_gallery_v2.m_fullscreen .closebtn {
  position: absolute;
  z-index: 13;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f5f5f5;
  cursor: pointer;
  font: normal 8px/8px "Roboto", sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0);
  justify-content: center;
  display: flex;
  align-items: flex-end;
  transition: all 0.3s ease;
}
.i_gallery_v2.m_fullscreen .closebtn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 24px;
  height: 2px;
  margin: auto;
  background: #292929;
  opacity: 1;
  transform: rotate(45deg);
  transition: all 0.3s ease;
}
.i_gallery_v2.m_fullscreen .closebtn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 24px;
  height: 2px;
  margin: auto;
  background: #292929;
  opacity: 1;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}
.i_gallery_v2.m_fullscreen .closebtn:hover {
  text-indent: 0px;
}
.i_gallery_v2.m_fullscreen .closebtn:hover:before {
  transform: rotate(-45deg);
}
.i_gallery_v2.m_fullscreen .closebtn:hover:after {
  transform: rotate(45deg);
}
.i_gallery_v2.m_fullscreen .closebtn:active {
  color: rgba(255, 255, 255, 0);
}
.i_gallery_v2.m_fullscreen .closebtn:active:before {
  opacity: 0;
  top: -60px;
  left: -60px;
}
.i_gallery_v2.m_fullscreen .closebtn:active:after {
  opacity: 0;
  right: -60px;
  bottom: -60px;
}
@media screen and (max-width: 1023px) {
  .i_gallery_v2.m_fullscreen .closebtn {
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.9);
  }
}
.i_gallery_v2.m_fullscreen .text_toggle_btn {
  position: absolute;
  z-index: 13;
  bottom: 20px;
  right: 6px;
  width: 40px;
  height: 40px;
  background: url(https://static.gazeta.ru/nm2021//img/icons/ui/traingle_rounded_black.svg) no-repeat 50% 50% rgba(255, 255, 255, 0.9);
  background-size: 18px;
}
.i_gallery_v2.m_fullscreen .text_toggle_btn:before {
  content: "text";
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  font: 400 10px/1 Roboto, sans-serif;
  color: #292929;
  text-align: center;
  text-transform: uppercase;
}
.i_gallery_v2.m_fullscreen .mainarea {
  height: 100vh;
  padding: 0;
  background: #fff;
}
.i_gallery_v2.m_fullscreen .mainarea:before {
  content: "";
  position: absolute;
  z-index: 12;
  top: 30px;
  left: 40px;
  width: 110px;
  height: 14px;
  background: url(https://static.gazeta.ru/nm2021/img/logo_2021.svg) no-repeat 50% 50%;
  background-size: auto 100%;
  opacity: 1;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1023px) {
  .i_gallery_v2.m_fullscreen .mainarea:before {
    top: 33px;
    left: 20px;
    width: 90px;
    background-size: 100% auto;
  }
  .i_gallery_v2.m_fullscreen .mainarea:after {
    top: 0;
    bottom: 0;
  }
}
.i_gallery_v2.m_fullscreen .mainarea-wrapper {
  left: 40px;
  right: 300px;
}
@media screen and (max-width: 1200px) {
  .i_gallery_v2.m_fullscreen .mainarea-wrapper {
    right: 40px;
    bottom: 200px;
  }
}
@media screen and (max-width: 1023px) {
  .i_gallery_v2.m_fullscreen .mainarea-wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.i_gallery_v2.m_fullscreen .mainarea-wrapper .item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.i_gallery_v2.m_fullscreen .mainarea-wrapper .item-image {
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.i_gallery_v2.m_fullscreen .mainarea .leftbtn {
  top: auto;
  bottom: 80px;
  left: auto;
  right: 240px;
  background: #292929;
}
.i_gallery_v2.m_fullscreen .mainarea .rightbtn {
  top: auto;
  bottom: 80px;
  left: auto;
  right: 40px;
  background: #292929;
}
.i_gallery_v2.m_fullscreen .mainarea .leftbtn:before, .i_gallery_v2.m_fullscreen .mainarea .rightbtn:before {
  background: url(https://static.gazeta.ru/nm2021/img/icons/ui/_ui_arrow_2x.svg) no-repeat 50% 50%;
}
.i_gallery_v2.m_fullscreen .mainarea .leftbtn span, .i_gallery_v2.m_fullscreen .mainarea .rightbtn span {
  background: url(https://static.gazeta.ru/nm2021/img/icons/ui/_ui_arrow_2x.svg) no-repeat 50% 50%;
}
.i_gallery_v2.m_fullscreen .infoblock {
  position: fixed;
  z-index: 10;
  width: 240px;
  right: 40px;
  top: 100px;
  bottom: 120px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-height: none;
  background: transparent;
}
@media screen and (max-width: 1200px) {
  .i_gallery_v2.m_fullscreen .infoblock {
    top: calc(100vh - 200px);
    left: 40px;
    width: calc(100vw - 40px - 300px);
    display: block;
    bottom: 0;
  }
  .i_gallery_v2.m_fullscreen .infoblock:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    z-index: 2;
    background: linear-gradient(0deg, #fff, transparent);
  }
}
@media screen and (max-width: 1023px) {
  .i_gallery_v2.m_fullscreen .infoblock {
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    max-height: 150px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 50px 10px 20px;
  }
}
.i_gallery_v2.m_fullscreen .infoblock .signplace {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .i_gallery_v2.m_fullscreen .infoblock .signplace {
    position: relative;
    height: 100%;
    overflow: auto;
    padding-bottom: 30px;
  }
}
.i_gallery_v2.m_fullscreen .infoblock .signplace p, .i_gallery_v2.m_fullscreen .infoblock .signplace i {
  color: #292929;
}
.i_gallery_v2.m_fullscreen .infoblock .signplace i {
  display: block;
  color: #7F7F7F;
}
.i_gallery_v2.m_fullscreen .infoblock .quantity {
  position: absolute;
  bottom: -30px;
  margin: 0 0 0 0;
  color: #292929;
}
@media screen and (max-width: 1200px) {
  .i_gallery_v2.m_fullscreen .infoblock .quantity {
    right: -170px;
    bottom: 80px;
    height: 40px;
    width: 50px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1023px) {
  .i_gallery_v2.m_fullscreen .infoblock .quantity {
    top: 0;
    right: 0;
    bottom: auto;
  }
}
.i_gallery_v2.m_fullscreen .b_photoreports_digest {
  position: fixed;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.i_gallery_v2.m_fullscreen .b_photoreports_digest:before {
  top: 30px;
  left: 40px;
}
.i_gallery_v2.m_fullscreen .b_photoreports_digest.active {
  opacity: 1;
}
.i_gallery_v2.m_fullscreen.m_digestshow .mainarea:before {
  opacity: 0;
}
.i_gallery_v2.m_fullscreen.m_digestshow .leftbtn, .i_gallery_v2.m_fullscreen.m_digestshow .rightbtn, .i_gallery_v2.m_fullscreen.m_digestshow .closebtn {
  background: #7F7F7F;
}
.i_gallery_v2.m_fullscreen.m_digestshow .closebtn:before, .i_gallery_v2.m_fullscreen.m_digestshow .closebtn:after {
  background: #fff;
}

/*# sourceMappingURL=gallery.css.map */
